@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Buyan";
  src: url("../fonts/BuyanRegular.ttf");
  src: url("../fonts/BuyanRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Buyan";
  src: url("../fonts/BuyanBold.ttf");
  src: url("../fonts/BuyanBold.woff") format("woff");
  font-weight: 700;
}
body {
  font-family: "Manrope", sans-serif;
}

a {
  display: inline-block;
  transition: 0.3s ease;
}
a:hover {
  transform: scale(1.1);
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {
  color: #254D5A;
  font-family: "Buyan", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

.button {
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  padding: 18px 30px;
  background-color: #254D5A;
  border-radius: 50vh;
  transition: 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.telephone {
  border-radius: 50vh;
  color: #575D62;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  text-align: left;
  padding: 18px 40px;
}

.contact-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 180px;
  color: #FFF;
  font-size: 20px;
  font-weight: 800;
  gap: 2px;
}
.contact-block__telephone {
  margin-bottom: 5px;
  color: #FFF;
}
.contact-block__telephone img {
  height: 15px;
  padding-top: 3px;
  margin-right: 6px;
}

.minibutton {
  padding: 11px 19px 9px 19px;
  background-color: #254D5A;
  border-radius: 50vh;
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16px;
  transition: 0.3s ease;
}
.minibutton img {
  padding-top: 3px;
  padding-right: 3px;
}
.minibutton:hover {
  transform: scale(1.1);
}

.section-title {
  color: #4C8FA0;
  font-family: "Buyan", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.request_form {
  background-color: #4C8FA0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  height: 583px;
}
.request_form__title {
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
  text-align: center;
}
.request_form__description {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
.request_form input {
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  border-radius: 50vh;
}
.request_form__telephone {
  padding: 18px 0 18px 30px;
  color: #575D62;
  margin-bottom: 20px;
}
.request_form__email {
  padding: 18px 0 18px 30px;
  color: #575D62;
  margin-bottom: 20px;
}
.request_form__answer {
  border-radius: 30px;
  flex: 2;
  color: #575D62;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  padding: 18px 18px 18px 30px;
  margin-bottom: 20px;
  resize: none;
}
.request_form__submit {
  background-color: #254D5A;
  padding: 18px 0;
  text-align: center;
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
}

.social {
  display: flex;
  justify-content: flex-start;
  min-width: 109px;
}
.social__link {
  margin-right: 10px;
}
.social img {
  box-shadow: 0 0 10px 5px #4C8FA0;
  height: 20px;
  background-color: #4C8FA0;
  background-color: rgba(76, 143, 160, 0.8);
}

.promo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #681E20;
}
@media (max-width: 960px) {
  .promo {
    display: none;
  }
}
.promo__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-right: 34px;
}
.promo__link {
  display: inline-block;
  padding: 5px;
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  transition: transform 0.3s ease-in-out;
}
.promo__link:hover {
  transform: scale(1.1);
  text-decoration-line: underline;
}

.header__wrapper .bg {
  position: absolute;
  width: calc(50% - 200px);
  height: 740px;
  right: 0;
  z-index: -5;
}
@media (max-width: 960px) {
  .header__wrapper .bg {
    display: none;
  }
}

.header {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (max-width: 540px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 13px;
}
@media (max-width: 540px) {
  .header__row {
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}
.header__logo {
  margin-right: 10px;
}
.header__slogan {
  color: #575D62;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  max-width: 220px;
  margin-right: 10px;
}
@media (max-width: 540px) {
  .header__slogan {
    display: none;
  }
}
@media (max-width: 960px) {
  .header__social {
    display: none;
  }
}
.header__address {
  margin-right: 10px;
  color: #575D62;
  font-size: 14px;
  line-height: normal;
}
.header__address img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
  margin-top: 3px;
}
.header__mode {
  color: #575D62;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
.header__mode img {
  width: 14px;
  height: 14px;
  padding-left: 2px;
  margin-right: 5px;
  margin-top: 3px;
}
.header__contacts {
  justify-content: flex-end;
}
.header__contacts a {
  white-space: nowrap;
}
@media (max-width: 960px) {
  .header__contacts a {
    color: #254D5A;
  }
}
@media (max-width: 960px) {
  .header__whatsapp, .header__telegram {
    display: none;
  }
}
.header__items {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 20px;
}
@media (max-width: 540px) {
  .header__items {
    flex-direction: column;
    align-content: flex-end;
  }
}
.header__link {
  margin-right: 40px;
  color: #575D62;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.header__link img {
  padding-top: 5px;
  padding-right: 5px;
}
.header__buttons {
  display: flex;
  gap: 20px;
}
@media (max-width: 540px) {
  .header__buttons {
    grid-column: 1/3;
  }
}

.mainsection__row {
  display: flex;
}
.mainsection__left {
  max-width: 660px;
  padding-bottom: 136px;
}
@media (max-width: 960px) {
  .mainsection__left {
    max-width: 100%;
  }
}
.mainsection__title {
  margin-bottom: 30px;
  padding-right: 30px;
}
.mainsection__description {
  color: #575D62;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}
.mainsection__items {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
  row-gap: 20px;
  margin-bottom: 50px;
}
.mainsection__item {
  color: #575D62;
  font-size: 18px;
  line-height: normal;
  position: relative;
  padding-left: 45px;
}
.mainsection__item img {
  position: absolute;
  left: 0;
}
.mainsection__item-title {
  font-weight: 600;
}
.mainsection__item-description {
  font-weight: 300;
}
.mainsection__buttons {
  display: flex;
}
.mainsection__buttons .telephone {
  border: 1px solid #254D5A;
  margin-right: 40px;
}
@media (max-width: 670px) {
  .mainsection__buttons {
    flex-direction: column;
  }
  .mainsection__buttons .telephone {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.mainsection__right {
  position: relative;
}
.mainsection__img {
  height: 723px;
  width: 460px;
  position: absolute;
  margin-top: -110px;
  margin-left: 20px;
  border-radius: 25px;
  overflow: hidden;
}
@media (max-width: 960px) {
  .mainsection__img {
    display: none;
  }
}
.mainsection__img img {
  position: absolute;
  height: 723px;
  object-fit: cover;
  left: -420px;
}

.features {
  padding-top: 34px;
  padding-bottom: 41px;
  background: url("../img/features_bg.png") no-repeat top center;
  background-size: cover;
}
.features__title {
  position: fixed;
  transform: scale(0);
}
.features__list {
  display: flex;
  margin: 0 -13px;
}
@media (max-width: 780px) {
  .features__list {
    flex-direction: column;
    margin: 0;
  }
}
.features__item {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 13px;
}
@media (max-width: 780px) {
  .features__item {
    margin: 0 20px 20px 20px;
  }
}
.features__icon {
  max-height: 70px;
  margin-right: 20px;
}
.features__text {
  align-self: flex-start;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.services {
  padding-top: 100px;
  padding-bottom: 87px;
  margin-bottom: 87px;
}
@media (max-width: 540px) {
  .services {
    padding-top: 50px;
    margin-bottom: 20px;
  }
}
.services__title {
  text-align: center;
  margin-bottom: 20px;
}
.services__description {
  color: #575D62;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  max-width: 890px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 10px;
}
.services__item {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 20px 5px #000;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.services__img {
  width: 100%;
  height: 258px;
  object-fit: cover;
}
.services__text {
  padding: 20px 20px 30px 20px;
  color: #575D62;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.services__link {
  margin-left: 20px;
  margin-top: auto;
  color: #4C8FA0;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  align-self: baseline;
}

.pricing__wrapper {
  position: relative;
  background-color: #4C8FA0;
  border-radius: 80px;
  padding: 70px 80px;
  z-index: 0;
}
.pricing__bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (max-width: 780px) {
  .pricing__bg {
    display: none;
  }
}
.pricing__content {
  position: relative;
  z-index: 2;
}
.pricing__title {
  max-width: 660px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.pricing__list {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 320px;
  padding-left: 20px;
  margin-bottom: 40px;
}
.pricing__item {
  list-style-type: disc;
  margin-bottom: 10px;
}
.pricing__item:last-child {
  margin-bottom: 10px;
}
.pricing__form {
  display: flex;
}
.pricing__form .telephone {
  margin-right: 20px;
}
@media (max-width: 780px) {
  .pricing__form .telephone {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 780px) {
  .pricing__form {
    flex-direction: column;
  }
}

.reasons {
  padding-top: 100px;
}
@media (max-width: 540px) {
  .reasons {
    padding-top: 50px;
  }
}
.reasons__title {
  text-align: center;
  margin-bottom: 40px;
}
.reasons__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  column-gap: 40px;
  row-gap: 50px;
}
.reasons__item {
  display: flex;
}
.reasons__icon {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-right: 20px;
}
.reasons__subtitle {
  color: #254D5A;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.reasons__description {
  color: #575D62;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.price {
  padding-top: 100px;
  padding-bottom: 100px;
}
.price__title {
  text-align: center;
  margin-bottom: 40px;
}
.price__wrapper {
  position: relative;
}
.price__shadow {
  position: absolute;
  border-radius: 30px;
  right: 0;
  width: calc(100% - 400px);
  height: 100%;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
@media (max-width: 840px) {
  .price__shadow {
    width: 420px;
  }
}
@media (max-width: 640px) {
  .price__shadow {
    display: none;
  }
}
.price__table {
  border-collapse: collapse;
}
.price__table td {
  text-align: center;
  z-index: 2;
  background: #FFF;
}
.price__table td.pad {
  width: 40px;
  background: none;
}
.price__table td:first-child {
  width: 360px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #C9C9C9;
  text-align: left;
  color: #575D62;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.price__table td:nth-child(4) {
  border-left: 2px solid #E8E8E8;
  border-right: 2px solid #E8E8E8;
}
.price__table thead td {
  padding: 20px 11px;
  background-color: #4C8FA0;
}
.price__table thead .lb {
  border-top-left-radius: 30px;
  overflow: hidden;
  margin-left: 40px;
  border: none;
}
.price__table thead .rb {
  border-top-right-radius: 30px;
  border: none;
}
.price__table thead .blank {
  background: none;
  border: none;
}
.price__table .not_req {
  color: #979B9F;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.price__table .table_button {
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.24px;
  background: #254D5A;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 18px;
  padding-bottom: 16px;
  border-radius: 50vh;
  transition: 0.3s;
}
.price__table .table_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.price__table .bottom .f_column {
  border: none;
}
.price__table .bottom td:nth-child(3) {
  border-bottom-left-radius: 30px;
}
.price__table .bottom td:last-child {
  border-bottom-right-radius: 30px;
}

.faq {
  background-color: #F7F7F7;
  padding-top: 70px;
  padding-bottom: 70px;
}
.faq__title {
  text-align: center;
  margin-bottom: 30px;
}
.faq__row {
  display: flex;
}
@media (max-width: 780px) {
  .faq__row {
    flex-direction: column;
  }
}
.faq__list {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.faq__header {
  display: flex;
  padding: 38px 40px;
  background-color: #FFFFFF;
  border-radius: 30px;
  justify-content: space-between;
}
.faq__header h3 {
  color: #575D62;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}
.faq__trigger {
  background-color: #FFFFFF;
}
[data-drawer-showing=true] .faq__trigger {
  transform: rotate(45deg);
}
.faq__content {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #575D62;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
  transition: 0.4s;
  overflow: hidden;
}
.faq__content[aria-hidden=true] {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.faq__content[aria-hidden=false] {
  max-height: var(--containerHeight, 1000px);
}
.faq__form {
  flex: 1;
}
.faq__item {
  margin-bottom: 10px;
}

.diff {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 840px) {
  .diff__second {
    display: none;
  }
  .diff__us {
    transform: scale(1);
    margin: 0 0;
  }
}
.diff__title {
  text-align: center;
  margin-bottom: 50px;
}
.diff__row {
  display: flex;
  border-radius: 30px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}
.diff__concurrent {
  padding: 30px 20px 50px 20px;
  flex: 1;
}
.diff__concurrent-name {
  color: #575D62;
  text-align: center;
  font-family: "Buyan", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 117.6%;
  margin-bottom: 40px;
}
.diff__concurrent-item {
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
  color: #575D62;
  font-size: 18px;
  font-weight: 500;
  line-height: 117.6%;
}
.diff__concurrent-item.yes:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background: url("../img/yes_icon.png") center no-repeat;
  background-size: contain;
}
.diff__concurrent-item.no:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background: url("../img/no_icon.png") center no-repeat;
  background-size: contain;
}
.diff__us {
  flex: 1.3;
  border-radius: 35px;
  background: #4C8FA0;
  position: relative;
  transform: scale(1.1);
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}
.diff__us-name {
  color: #FFF;
  text-align: center;
  font-family: "Buyan", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 117.6%;
  margin-bottom: 40px;
}
.diff__us-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
}
.diff__us-item {
  margin-bottom: 20px;
  padding-left: 35px;
  position: relative;
  font-size: 17px;
  font-weight: 500;
  line-height: 117.6%;
  color: #FFF;
}
.diff__us-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  background: url("../img/us_icon.png") center no-repeat;
  background-size: contain;
}
.diff__link {
  display: block;
  text-align: center;
}

.about {
  padding-bottom: 100px;
}
@media (max-width: 540px) {
  .about {
    padding-bottom: 50px;
  }
}
.about__row {
  display: flex;
}
@media (max-width: 960px) {
  .about__row {
    flex-direction: column;
  }
}
.about__text {
  flex: 1;
  margin-right: 40px;
}
@media (max-width: 960px) {
  .about__text {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}
.about__title {
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  .about__title {
    text-align: center;
  }
}
.about__description {
  margin-bottom: 20px;
  color: #575D62;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
.about__link {
  display: block;
  text-align: center;
  width: 50%;
}
@media (max-width: 960px) {
  .about__link {
    margin: 0 auto;
  }
}
.about__left {
  flex: 1;
  min-width: 0;
  text-align: center;
}
.about__slider {
  position: relative;
  margin-bottom: 20px;
}
.about__slider .slick-list {
  overflow: hidden;
}
.about__slider .slick-track {
  display: flex;
}
.about__slider .slick-arrow {
  position: absolute;
  bottom: 50%;
  font-size: 0;
  width: 60px;
  height: 60px;
}
.about__slider .slick-prev {
  background: url(../img/l_arrow.png);
  left: -30px;
  z-index: 2;
}
@media (max-width: 960px) {
  .about__slider .slick-prev {
    left: 10px;
  }
}
.about__slider .slick-next {
  background: url(../img/r_arrow.png);
  right: -30px;
}
@media (max-width: 960px) {
  .about__slider .slick-next {
    right: 10px;
  }
}
.about__see {
  color: #575D62;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.partners {
  padding: 50px 0;
  background: url("../img/partners/partners_bg.png") top center no-repeat;
  background-size: cover;
}
.partners__title {
  font-size: 0;
}
.partners__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: end;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 30px;
}
.partners__item {
  transition: 0.3s;
  text-align: center;
}
.partners__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.reviews {
  padding-top: 100px;
}
@media (max-width: 960px) {
  .reviews {
    display: none;
  }
}
.reviews__title {
  text-align: center;
}
.reviews__buttons {
  margin: 0 auto 40px auto;
  max-width: 340px;
  display: flex;
  justify-content: space-between;
}
.reviews__buttons button {
  color: #BFBFBF;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
  background: none;
}
.reviews__buttons button.active {
  text-decoration: underline;
  color: #575D62;
}
.reviews__list {
  min-width: 0;
  margin-right: 90px;
  margin-left: 90px;
  position: relative;
}
.reviews__list .slick-list {
  overflow: hidden;
}
.reviews__list .slick-track {
  display: flex;
  gap: 100px;
}
.reviews__list .slick-arrow {
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -5px;
  font-size: 0;
  height: 10px;
  width: 20px;
  padding: 10px;
}
.reviews__list .slick-prev {
  font-size: 0;
  background: url("../img/prev_icon.svg") center top no-repeat;
  background-size: contain;
  left: -100px;
}
.reviews__list .slick-next {
  right: -100px;
  background: url("../img/next_icon.svg") top center no-repeat;
  background-size: contain;
}
.reviews__item {
  width: 450px;
  display: flex;
  flex-direction: column;
}
.reviews__logo {
  margin-bottom: 20px;
  width: 140px;
  object-fit: cover;
}
.reviews__text {
  color: #575D62;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  flex: 1;
}
.reviews__time {
  color: #575D62;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

.problems {
  padding-top: 100px;
  padding-bottom: 100px;
}
.problems__title {
  text-align: center;
  margin-bottom: 80px;
}
.problems__row {
  display: flex;
}
.problems__box {
  flex: 1;
  position: relative;
  margin-right: 40px;
  margin-left: 40px;
}
@media (max-width: 960px) {
  .problems__box {
    display: none;
  }
}
.problems__shadow {
  position: absolute;
  border-radius: 20px;
  background: #4C8FA0;
  top: -40px;
  left: -40px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (max-width: 960px) {
  .problems__shadow {
    display: none;
  }
}
.problems__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.problems__text {
  flex: 1;
}
.problems__list li {
  margin-left: 20px;
  color: #575D62;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 20px;
  list-style-type: disc;
}
.problems__form {
  border-radius: 30px;
  background: #4C8FA0;
  padding: 30px;
}
.problems__form-title {
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 40px;
  line-height: normal;
  letter-spacing: 0.4px;
}
.problems__form-description {
  color: #FFF;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 25px;
}
.problems__button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.problems__button input {
  flex: 1;
  max-width: 210px;
}

.footer {
  background: #4C8FA0;
  padding-top: 60px;
  padding-bottom: 42px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 2px solid #FFF;
}
.footer__col1 {
  margin-right: 50px;
}
.footer__col2 {
  max-width: 360px;
}
@media (max-width: 960px) {
  .footer__col2 {
    display: none;
  }
}
.footer__logo {
  color: #FFF;
  font-size: 64px;
  margin-bottom: 15px;
}
.footer__soctitle {
  color: #FFF;
  font-family: "Buyan", sans-serif;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
}
.footer__subtitle {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.footer__list li {
  color: #FFF;
  font-size: 18px;
  line-height: normal;
}
.footer__list li a {
  color: #FFF;
  font-size: 18px;
  line-height: normal;
}
.footer__service {
  margin-bottom: 15px;
}
.footer__service:last-child {
  margin-bottom: 0;
}
.footer__item {
  margin-bottom: 5px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__contacts {
  margin-bottom: 30px;
}
.footer__address {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  padding-left: 20px;
  position: relative;
}
.footer__address:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../img/footer_dot.svg") center no-repeat;
  left: 0;
  top: 6px;
}
.footer__mode {
  color: #FFF;
  font-size: 20px;
  line-height: normal;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}
.footer__mode:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background: url("../img/footer_clock.svg") center no-repeat;
  left: 0;
  top: 6px;
}
.footer__bottom {
  justify-content: space-between;
  padding-top: 30px;
}
.footer__conf {
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
}
.footer__made {
  color: #FFF;
  text-align: right;
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
